<!-- <div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <ng-container matColumnDef="desc">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Desc</th>
      <td mat-cell *matCellDef="let row">{{row.desc}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
 -->

<div class="mat-elevation-z8">
  <div class="row header">
    <span class="value">name</span>
    <span class="value">desc</span>
  </div>
  <div class="row" *ngFor="let data of food$ | async" [ngClass]="{ odd: odd }">
    <span class="value" *ngFor="let item of data | entries">
      {{ item.value }}
    </span>
  </div>
</div>
